/* MOVE ANY ELEMENT */
@keyframes up-down {
    from {
        top: var(--gap);
    }

    to {
        top: 0;
    }
}

@keyframes down-up {
    from {
        bottom: 0;
    }

    to {
        bottom: var(--gap);
    }
}

@keyframes left-right {
    from {
        right: 0;
    }

    to {
        right: var(--gap);
    }
}

@keyframes right-left {
    from {
        left: 0;
    }

    to {
        left: var(--gap);
    }
}

/* FLASH ON ANY ELEMENT */
@keyframes flash {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* HEARTBEAT ON ELEMENT */
@keyframes heartbeat {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.1);
    }
}