@media screen and (min-width: 0px) and (max-width: 150px) {

    *,
    html,
    body {
        display: none;
    }
}

@media screen and (min-width: 150px) and (max-width: 1115px) {
    header img.logo-dittobask-header {
        width: 60px;
    }

    header>menu {
        right: 0%;
        top: -20%;
        max-width: 400px;
        width: 0 !important;
        opacity: 0;
        height: 0 !important;
        position: absolute !important;
        flex-direction: column !important;
        z-index: 9999;
        justify-content: start !important;
        align-items: start !important;
        background-color: black;
    }

    header>menu>i {
        position: absolute;
        right: 10%;
        top: 6%;
    }

    header svg,
    header menu :is(p, button) {
        display: block !important;
    }

    menu>a:nth-child(1) {
        order: -1 !important;
    }

    header menu .scocials-media {
        min-width: 100px;
    }

    header menu p {
        margin-bottom: -20px;
    }

    menu.active {
        right: 0%;
        top: 0%;
        padding: 20px 35px;
        opacity: 1;
        visibility: visible;
        position: absolute !important;
        flex-direction: column !important;
        width: 40% !important;
        height: 350px !important;
        z-index: 9999;
        justify-content: start !important;
        align-items: start !important;
        background-color: black;
    }

    header {
        justify-content: space-between !important;
        width: 90%;
        padding: 0 10px !important;
    }

    .root {
        justify-content: center !important;
        align-items: center !important;
    }

    h4.font-subtitle {
        margin-bottom: 10px !important;
        margin-top: 40px !important;
    }

    div.root-supply {
        margin-bottom: 20px !important;
    }

    .root-left .font-subtitle {
        font-size: 20px;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .root-left .number {
        font-size: 30px;
    }

    .root-2 .text-root {
        width: 100% !important;
    }

    .brands>h3 {
        font-size: 12.48px;
        margin-top: 4px;
    }

    .text-root {
        width: 80% !important;
        text-align: center !important;
    }

    .root>.root-left {
        width: 100% !important;
        justify-content: center !important;
        padding: 0 !important;
        align-items: center !important;
    }

    .root>.root-right {
        width: 70% !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .root-2>.root-right,
    .root-3>.root-right {
        order: 3 !important;
    }

    .root>.root-middle {
        min-width: 300px;
    }

    .counter {
        width: 80px !important;
        height: 70px !important;
        padding: 0 10px;
        font-size: 24px !important;
    }

    .title-roadmap {
        font-size: 40px !important;
    }

    .discord>img {
        width: 80vw !important;
    }

    details {
        width: 95%;
        padding-left: 5%;
    }

    details p {
        margin-left: 1vw !important;
    }

    details>summary {
        font-size: 16px !important;
    }

    div.title-ourteam h2.text-ourteam:nth-child(2) {
        text-shadow: 2px 0 0 black, 2px 2px 0 black, 0 2px 0 black, -2px 2px 0 black, -2px 0 0 black, -2px -2px 0 black, 0 -2px 0 black, 2px -2px 0 black;
    }

    .buttons-switch {
        margin-bottom: 30px;
    }

    .buttons-switch>button {
        min-width: 150px;
    }

    h2.title-started {
        font-size: 30px !important;
        text-align: center !important;
    }

    .started-left {
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
        padding: 0 10px;
        margin-left: 0 !important;
    }

    .started-left>p {
        text-align: center !important;
    }

    .started-right {
        justify-content: center !important;
        align-items: center !important;
        width: 100% !important;
    }

    .started-right>img {
        margin-top: 50px;
        max-width: 750px !important;
    }
}

@media screen and (min-width: 1921px) and (max-width: 4000px) {

    .img-all-characters img,
    .img-characters-versus>img {
        width: 99.3vw !important;
    }
}